<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Encuestas de aprobación</title>
    <%- include("partials/header")%>
    <link href= "/assets/css/graphs.css" rel="stylesheet">
    <!--CDN CHARTJS-->
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
</head>
<div class="container-fluid pt-5 text-center">
	<div class="row">
		<div class="col-12">
			<h4 class="display-4"></h4>
		</div>
	</div>
</div>
<div class="container-fluid p-5">
    <div class="row">
		<div class="col-md-8">
			<div class="mt-2 graph-container" style="width:100%;">
				<canvas id="canvas"></canvas>
			</div>
		</div>
		<div class="col-md-4">
			<div class="mt-1 graph-container">
				<img src="/assets/img/portada2.jpg" alt="" class="img-fluid img-thumbnail">
				<p class="text-justify mt-2 font-weight-bold">El presidente Andrés Manuel López Obrador inició abril con un 78% aprobación de los mexicanos, frente a un 19% de opiniones en contra, de acuerdo con una encuesta realizada por El Financiero. En comparación a marzo, la aprobación del mandatario cayó solo un punto porcentual.</p>
				<p class="text-justify mt-2 font-weight-bold">Las medidas más aplaudidas por los mexicanos son reducir el financiamiento público a partidos (87%) y reducir los salarios de los funcionarios públicos (83%), le sigue la creación de la Guardia Nacional (74%);  la construcción de la refinería de Dos Bocas, Tabasco (69%) y la inauguración del estadio de beisbol en la Ciudad de México (64%).</p>
			</div>
		</div>
	</div>
</div>

<%- include("partials/footer")%>
<script>
//obtaining data
const data = <%- newData %>
console.log(data)

//dataLabels = Encuestadora, this is for the upside labels
const dataLabels = data.map(el=>el.encuestadora)
//console.log(dataLabels)

//aux works as a auxiliar variable in order to get the array generated in NuevaTabla from data
const aux = data.map(el=>el.NuevaTabla)
console.log(aux)

//allLabels is for the dates in x axis
const allLabels = aux[0].map(el=>el.publicado)
//console.log(allLabels)

const arreglo = []

for(var b in data){
	var c = data[b]
	console.log(c)
	arreglo.push({"encuestadora": c.encuestadora, "porcentaje": [ aux[b] ]})
}

console.log(arreglo)

const aux1 = arreglo.map((el,i)=>{
	return [arreglo[i].encuestadora, arreglo[i].porcentaje[0].map(el=>el.porcentaje)]
})
console.log(aux1)

var newArray=[]
const arrayColors = ['#4592af', '#c82121', '#8f71ff', '#8adfdc', '#feb9c8', '#82acff', '#ebefd0']
const colors = arrayColors.map(color=>color)
console.log(colors)

newArray = aux1.map((el,i)=>{
	return {
		"label": aux1[i][0],
		"borderColor": arrayColors[i],
		"backgroundColor": arrayColors[i],
		"fill": false,
		"data": aux1[i][1]
	}
})

console.log(newArray)



var lineChartData = {
			labels: allLabels,
			datasets: newArray,
		};

		window.onload = function() {
			var ctx = document.getElementById('canvas').getContext('2d');
			window.myLine = Chart.Line(ctx, {
				data: lineChartData,
				options: {
					responsive: true,
					hoverMode: 'index',
					stacked: false,
					scales: {
						yAxes: [{
							type: 'linear', // only linear but allow scale type registration. This allows extensions to exist solely for log scale for instance
							display: true,
							position: 'left',
                        }],
					}
				}
			});
		};

		

/* var ctx = document.getElementById('myChart').getContext('2d');
    var chart = new Chart(ctx, {
    // The type of chart we want to create
    type: 'line',

    // The data for our dataset
    data: {
        labels: aux3,
        datasets: [{
            label: dataLabels[0],
            borderColor: 'rgb(255, 99, 132)',
            data: values1
        },
        {
            label: dataLabels[1],
            borderColor: 'rgb(255, 99, 132)',
            data: [64,80]
        },
        {
            label: dataLabels[2],
            borderColor: 'rgb(255, 99, 132)',
            data: [64,80]
        },
    ]
    },

    // Configuration options go here
    options: {
        responsive: true,
				title: {
					display: true,
					text: 'Chart.js Line Chart - Stacked Area'
				},
				tooltips: {
					mode: 'index',
				},
				hover: {
					mode: 'index'
				},
				scales: {
					xAxes: [{
						scaleLabel: {
							display: true,
							labelString: 'Month'
						}
					}],
					yAxes: [{
						stacked: true,
						scaleLabel: {
							display: true,
							labelString: 'Value'
						}
					}]
				}
    }
}); */
</script>